<p>Спасибо за заказ поездки в Meadowlark Travel {{cart.billing.name}}!</p>
<p>Ваш номер бронирования: {{cart.number}}, на адресс {{cart.billing.email}}, было отправленно письмо в качестве подтверждения.</p>
