{{#section 'head'}}
    <meta name="robots" content="noindex">
{{/section}}
<h1>Тестовая страница</h1>
<p>тестируем что то связанное с jquery</p>
{{#section 'jquery'}}
    <script>
        $('document').ready(function() {
            $('h1').html('jQuery работает');
        });
    </script>
{{/section}}